

<%= form_with(model: @account, class: "contents") do |form| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% @account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-body">

      <div class="form-group">
        <%= form.label :name, { class: "form-label"} %>
        <%= form.text_field :name, placeholder: "Account name.." %>
      </div>

      <div class="form-group">
        <%= form.label :entity_id, { class: "form-label"} %>
        <%= form.select :entity_id, Entity.all.collect { |e| [ e.name, e.id] }, :prompt => "Select.." %>
      </div>

      <div class="form-group">
        <%= form.label :account_type, { class: "form-label"} %>
        <%= form.select :account_type, Plutus::Account.options_for_select, { prompt: "Type.." }, {  } %>
      </div>

    </div>
  </div>

  <div>
    <%= form.submit  %>
  </div>
<% end %>